[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
  editor = nvim

[alias]
  st = status --short --branch
  co = checkout
  ci = commit
  di = diff
  aa = add --all
  bv = branch -vv
  ca = commit --amend
  cb = checkout -b
  ll = log -n11 --graph --pretty=format:'%C(yellow)%h%C(reset) %C(auto)%d%C(reset) %s %C(blue)[%an]%C(reset) %C(green)(%ar)%C(reset)'
  ls = ls-files

[color]
  diff = auto
  status = auto
  branch = auto
